body {
  margin: 0px;
  background-color: white;
  font-family: 'Yeon Sung', cursive;
  font-family: 'Comfortaa', cursive;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 10px 0;
  background-color: #ABC84A;
  width: 100%;
  font-family: 'Yeon Sung', cursive;
  font-size: 5rem;
  color: white;
}

.image-upload {
  position: relative;
  bottom: 3.125rem;
  padding: 1rem;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin: 0px;
  background-color: #ABC84A;
  width: 100%;
  box-shadow: 0px 5px 8px #aaa, inset 0px 0px 0px #fff;
}

.nav-login-link p {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  padding-right: 10rem;
}

.nav-about-link p {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

.logo {
  position: relative;
  top: -5.625rem;
}

.logo img {
  border-radius: 50%;
  border-width: 0.7rem;
  border-color: white;
  border-style: solid;
  width: 10rem;
  background-color: #ABC84A;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.triangle-up {
  width: 100%;
  height: 0;
}

.triangle-up:after {
  position: absolute;
  bottom: 0px;
  content: "";
  display: block;
  filter: drop-shadow(2px 2px 6px #aaa);
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-bottom: 25vh solid #ABC84A;
}
