<section class="hero">
  <header class="header">
    Leaf
  </header>
  <nav class="nav">
    <div class="nav-login-link">
      <p>Login</p>
    </div>
    <div class="nav-about-link">
      <p>About</p>
    </div>
  </nav>
  <div class="logo">
    <img src="{{rootURL}}assets/images/logo.png" />
  </div>
</section>
